<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<targets>
	<target xsi:type="File" name="f" fileName="${shortdate}.txt"
	 layout="${longdate} --${logger}: ${uppercase:${level}}--    ${message} ${exception:format=ToString,StackTrace,method:maxInnerExceptionLevel=5:innerFormat=ToString}" />
</targets>
<rules>
	<logger name="NHibernate.SQL" minlevel="Debug" writeTo="f" final="true" />
	<logger name="NHibernate.*" minlevel="Warn" writeTo="f" final="true" />
	<logger name="*" minlevel="Trace" writeTo="f" />
</rules>
</nlog>